.location-card {
  margin: 1em;
  color: #000000;
  text-decoration: none;
  box-shadow: 1px 1px 10px rgb(228, 228, 228);
}

.location-card-list-group li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}