.navbar-brand, .nav-link {
  color: rgb(111, 121, 231);
}

.nav-link:hover, .navbar-brand:hover {
  color: rgb(9, 18, 116);
}

/* .navbar-nav .nav-item .active,
.navbar-nav .nav-item:hover .nav-link {
  color: pink;
} */

/* .navbar-nav > .nav-item > .active {
  color: red;
} */

